* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#calculator {
    display: flex;
    flex-flow: column;
}

#calcPara {
    height: 32px;
    display: flex;
    align-items: center;
}

#buttons {
    display: flex;
}

#operators {
    display: flex;
    flex-flow: column;
}