* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#calculator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: hsl(200, 4.87%, 4.4%);
}

#inner-container {
    display: flex;
    flex-flow: column;
}

#calcPara {
    height: 32px;
    display: flex;
    align-items: center;
    color: #39b839;
}

#buttons {
    display: flex;
}

#operators {
    display: flex;
    flex-flow: column;
}