* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Mina", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#calculator {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: hsl(200, 4.87%, 4.4%);
}

#inner-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#inner-container > div {
    width: 100%;
}

#calcPara {
    height: 92px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Kode Mono", monospace;
    font-size: 40px;
    text-shadow: -3px 0px 2px rgb(255, 255, 255);
    color: #39b839;
    overflow: auto;
    scrollbar-width: none;
    margin: 10px 0px;
}

#buttons {
    height: 100%;
    display: flex;
    justify-content: center;
}

div#buttons > div {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.row {
    display: flex;
    flex: 1;
}

.number {
    flex: 1;
    border-radius: 56px;
    font-size: 58px;
}

#decimal {
    flex: 1;
    border-radius: 56px;
    font-size: 40px;
}

#operators {
    display: flex;
    flex-flow: column;
}

#clear {
    flex: 1;
    border-radius: 26px;
    font-size: 58px;
}

#back {
    flex: 1;
    border-radius: 26px;
    font-size: 58px;
}

.operator {
    flex: 1;
    border-radius: 26px;
    font-size: 58px;
}

#equal {
    flex: 1;
    border-radius: 26px;
    font-size: 58px;
}